* {
  margin: 0;
  padding: 0;
}
body {
  padding: 10px;
}
header {
  background-image: url("Freesbee.jpg");
  background-repeat: no-repeat;
  background-size: 100% 180px;
  background-color: #cccccc;
  padding: 30px;
  text-align: center;
}
h1 {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 40px;
}
header a {
  padding: 20px 60px 20px 60px;
  margin: 60px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 5px;
  text-decoration: none;
  color: black;
}
.active {
  background-color: rgb(255, 255, 255);
}
main {
  float: right;
  display: inline-flex;
}
img {
  width: 200px;
  height: 130px;
  display: block;
  border: 5px solid black;
  margin: 40px;
}
.left {
  width: 380px;
  background-color: goldenrod;
}
.right {
  margin: 10px;
  text-align: justify;
}
table {
  border-color: white;
  border-radius: 20px 20px 0 0;
  margin: 5px;
  padding: 2px;
}
th {
  color: white;
  background-color: rgb(128, 128, 0);
  padding: 20px;
  border-radius: 5px 5px 0 0;
}
td {
  background-color: rgb(124, 231, 187);
  padding: 10px;
  font-family: monospace;
  font-size: 15px;
}
tr {
  opacity: 0.75;
}
td:nth-child(1n + 2) {
  text-align: center;
}
tr:hover {
  opacity: 0.4;
}
@media only screen and (min-width: 400px) {
  header a {
    padding: 10px 5px 10px 5px;
    margin: 0 0 0 0;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
    text-decoration: none;
    color: black;
  }
  img {
    width: 150px;
    height: 130px;
    display: block;
    border: 5px solid black;
    margin: 40px 5px 40px 5px;
  }
  .left {
    width: 45%;
    background-color: goldenrod;
  }
}
@media only screen and (min-width: 1000px) {
  header a {
    padding: 20px 60px 20px 60px;
    margin: 60px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
    text-decoration: none;
    color: black;
  }
  img {
    width: 200px;
    height: 130px;
    display: block;
    border: 5px solid black;
    margin: 40px;
  }
  .left {
    width: 380px;
    background-color: goldenrod;
  }
}
